.container {
    display: flex;
    justify-content: space-around; /* Espacio entre las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no caben en una fila */
}
.card{
    width: 300px;
    text-align: center;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #dacfcf;
    box-shadow: 0 0 20px #000;
    margin-top: 40px;
}

.imagen{
    width: 50%;
    filter: drop-shadow(0 0 5px #003);

}

.titulo{
    text-transform: uppercase;
    margin-top:10px;

}


.contenido{
    text-align: justify;
}

