body{
    margin: 0;
    color: #eee;
    background-color: #222;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 55px #0009;
    margin-top: 50px;

}

div{
    padding: 6px 20px;
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    /* border: none; */
    background-color: transparent;
    color: #eee;

}

textarea{
    resize: none;
    min-width: 100px;
    min-height: 100px;
    max-height: 200px; 
    width:100%;
    text-transform:initial;

}

.terminos{
    width: auto;
    height: 10px;
}

select{
    width: 100%;
    background-color: #222;
    color: #eee;
    padding: 6px 10px;

}


